absl-py==2.1.0
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
alibabacloud-credentials==0.3.2
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.2.2
alibabacloud-pai-dlc20201203 @ https://sdk-portal-us-prod.oss-accelerate.aliyuncs.com/downloads/u-592c58c5-0448-4bb6-9482-6d1af36f71c9-python-pai-dlc.zip#sha256=d857dd623fa7c4037fcfd70c3a03a4d0bf08c23a049bf4f03f87ce62b86ce9d1
alibabacloud-paistudio20220112==1.1.2
alibabacloud-tea==0.3.5
alibabacloud-tea-openapi==0.3.8
alibabacloud-tea-util==0.3.11
alibabacloud-tea-xml==0.0.2
alipai==0.1.7
aliyun-log-python-sdk==0.8.15
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
aliyun-python-sdk-sts==3.1.2
argbind==0.3.9
astor==0.8.1
astroid==3.0.2
asttokens==2.4.1
attrs==23.1.0
audioread==3.0.1
autopep8==1.7.0
boltons @ file:///work/ci_py311/boltons_1677685195580/work
braceexpand==0.1.7
brotlipy==0.7.0
cachetools==5.3.2
certifi @ file:///croot/certifi_1700501669400/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
common-io @ file:///tmp/common_io-0.4.0%2Btunnel-py2.py3-none-any.whl#sha256=551d101b7fde1bf9a5bba7c73b87198342fa8336cfd0405caacbaf9911d0ef7a
conda @ file:///croot/conda_1696257509808/work
conda-content-trust @ file:///croot/conda-content-trust_1693490622020/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1696257536937/work/src
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
configparser==6.0.0
contextlib2==21.6.0
contourpy==1.2.0
crcmod==1.7
cryptography==37.0.4
cvxopt==1.3.2
cycler==0.12.1
Cython @ file:///croot/cython_1702999162981/work
datasets==2.16.1
dateparser==1.2.0
dcase-util==0.2.20
debugpy==1.8.0
decorator==5.1.1
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diffusers==0.30.2
dill==0.3.7
dnspython==2.4.2
docker-pycreds==0.4.0
docstring_parser==0.16
eas-prediction==0.12
easy-rec @ https://easyrec.oss-cn-beijing.aliyuncs.com/releases/easy_rec-0.1.6-py2.py3-none-any.whl#sha256=24baedf64f97bf839453fbca91ee73dd0f5be47764bace262ed7dfd6263244f1
einops==0.7.0
elastic-transport==8.11.0
elasticsearch==8.11.1
executing==2.0.1
fairscale==0.4.13
ffmpy==0.4.0
filelock==3.13.1
fire==0.6.0
flake8==7.0.0
flatten-dict==0.4.2
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.12.2
ftfy==6.2.3
future==0.18.3
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
graphviz==0.20.1
grpcio==1.66.1
h5py==3.11.0
huggingface-hub==0.24.6
hyperopt==0.1.2
idna @ file:///work/ci_py311/idna_1676822698822/work
importlib-metadata==7.0.1
importlib_resources==6.4.4
ipykernel==6.28.0
ipython==8.20.0
ipywidgets==8.1.1
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
json-tricks==3.17.3
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
julius==0.2.7
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
laion_clap==1.1.6
lazy-dataset==0.0.15
lazy-object-proxy==1.6.0
lazy_loader==0.4
libmambapy @ file:///croot/mamba-split_1694187754698/work/libmambapy
librosa==0.9.0
lightning-utilities==0.11.7
llvmlite==0.43.0
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
modelscope==1.11.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.4
multiprocess==0.70.15
nest-asyncio==1.5.9
networkx==3.2.1
numba==0.60.0
numpy==1.23.5
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
oss2==2.18.3
packaging @ file:///croot/packaging_1693575174725/work
pai-nni @ http://odps-release.cn-hangzhou.oss.aliyun-inc.com/pai/pypi/pai_nni/3.x/pai_nni-2.6-py3-none-manylinux1_x86_64.whl#sha256=1fab4ac953bda4f78d72aed388cfe3b5b00b61412f75d5f4ff0d1ab41999a199
pandas==2.1.4
parso==0.8.3
patsy==0.5.5
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.1.0
plotly==5.18.0
pluggy @ file:///work/ci_py311/pluggy_1676822818071/work
pooch==1.8.2
POT==0.9.4
prettytable==3.9.0
progressbar==2.5
prompt-toolkit==3.0.43
protobuf==3.19.6
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyarrow-hotfix==0.6
pybind11 @ file:///croot/pybind11-split_1682965519881/work
pybind11-global @ file:///croot/pybind11-split_1682965519881/work
pycodestyle==2.11.1
pycosat @ file:///croot/pycosat_1696536503704/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.19.0
pydot-ng==2.0.0
pyflakes==3.2.0
Pygments==2.17.2
pylint==3.0.3
pyloudnorm==0.1.1
pymongo==4.6.1
pyodps==0.11.4.1
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pystoi==0.4.1
python-dateutil==2.8.2
python-magic==0.4.27
PythonWebHDFS==0.2.3
pytorch-lightning==2.2.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
randomname==0.2.1
regex==2023.12.25
requests @ file:///croot/requests_1690400202158/work
resampy==0.4.3
responses==0.24.1
rich==13.8.0
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
safetensors==0.4.5
schema==0.7.5
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
sed-eval==0.2.1
sentry-sdk==2.14.0
setproctitle==1.3.3
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.5.0.post1
stack-data==0.6.3
statsmodels==0.14.1
sympy==1.12
tenacity==8.2.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.8.3
threadpoolctl==3.2.0
timm==1.0.9
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
torch @ http://odps-release.cn-hangzhou.oss.aliyun-inc.com/pai/build-deps/pytorch/torch-2.1.0%2Bcu118-cp311-cp311-linux_x86_64.whl#sha256=bcb17e2de6ca634d326203694d0bfb552587335e536c1917be3f28c5664b5506
torch-stoi==0.2.1
torchaudio @ http://odps-release.cn-hangzhou.oss.aliyun-inc.com/pai/build-deps/pytorch/torchaudio-2.1.0%2Bcu118-cp311-cp311-linux_x86_64.whl#sha256=bf9b004974a28ea714f6dc5d03308dbd8384b921a2792cf88e498979faf5860d
torchlibrosa==0.1.0
torchmetrics==1.4.1
torchvision @ http://odps-release.cn-hangzhou.oss.aliyun-inc.com/pai/build-deps/pytorch/torchvision-0.16.0%2Bcu118-cp311-cp311-linux_x86_64.whl#sha256=b168e55b1aff3e0270d9bd9af5d12a839093b15a9b0f8814265b7f1075a9a010
tornado==6.4
tqdm==4.66.1
training-utils @ https://pai-sdk.oss-cn-shanghai.aliyuncs.com/training_utils/dist/training_utils-1.0.6-py3-none-any.whl#sha256=a51b2a28d1b42b6fc60968bae0f6761c379774ee7ebe4d0def1f5fd80866800c
traitlets==5.14.1
transformers==4.44.2
triton==2.1.0
truststore @ file:///croot/truststore_1695244293384/work
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
urllib3 @ file:///croot/urllib3_1686163155763/work
validators==0.34.0
wandb==0.17.9
wcwidth==0.2.13
webdataset==0.2.100
websockets==12.0
Werkzeug==3.0.4
wget==3.2
widgetsnbextension==4.0.9
xgboost==2.0.3
xlrd==2.0.1
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
zstandard @ file:///work/ci_py311_2/zstandard_1679339489613/work
